# 1. ANÁLISIS CUANTITATIVO.

## 1.1 Primer examen preliminar del dataset. ¿Qué parámetros hay en el dataset? ¿Cuál es su significado? ¿Existen valores aparentemente incorrectos?

**1. Importar librerías**

In [2]:
import pandas as pd
import numpy as np

**2. Leer datos GREEN**

### Datos

Tenemos datos de los taxis verdes, de los meses de Marzo y Abril del año 2015.

<table>
    <tr>
        <th>Nombre del archivo</th>
        <th>Tamaño del archivo</th>
        <th>Variables</th>
        </tr>
    <tr>
        <td> green_tripdata_2015-03</td>
        <td> 265 MB </td>
        <td> 20 </td>
    </tr>
    <tr>
        <td> green_tripdata_2015-04</td>
        <td> 256 MB </td>
        <td> 20 </td>
    </tr>

In [26]:
dg3 = pd.read_csv('C:/MBD/datos/green_tripdata_2015-03.csv', usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])
dg4 = pd.read_csv('C:/MBD/datos/green_tripdata_2015-04.csv', usecols=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

**3. Head de datos, visualización primeras filas**

In [27]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,...,8.0,0.5,0.5,0.0,0.0,NaN,0.3,9.3,1,1.0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,...,20.0,0.5,0.5,4.0,0.0,NaN,0.3,25.3,1,1.0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,...,11.0,0.5,0.5,0.0,0.0,NaN,0.3,12.3,2,1.0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,...,8.5,0.5,0.5,0.0,0.0,NaN,0.3,9.8,4,1.0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,...,5.5,0.5,0.5,1.0,0.0,NaN,0.3,7.8,1,1.0

In [28]:
dg4.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-04-01 00:00:00,2015-04-01 00:08:15,N,1,-73.958817,40.716824,-73.982971,40.696007,1,...,11.0,0.5,0.5,2.46,0.0,NaN,0.3,14.76,1,1.0
1,2,2015-04-01 00:00:04,2015-04-01 00:07:33,N,1,-73.937531,40.804501,-73.946800,40.815998,1,...,7.0,0.5,0.5,0.00,0.0,NaN,0.3,8.30,2,1.0
2,2,2015-04-01 00:00:09,2015-04-01 00:02:10,N,1,-73.955818,40.681152,-73.955406,40.687145,1,...,4.0,0.5,0.5,0.70,0.0,NaN,0.3,6.00,1,1.0
3,2,2015-04-01 00:00:23,2015-04-01 00:05:16,N,1,-73.830551,40.759460,-73.825363,40.741589,1,...,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1.0
4,2,2015-04-01 00:00:25,2015-04-01 00:05:20,N,1,-73.912086,40.775356,-73.915474,40.764091,1,...,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1.0

**5. Descripción columna Ethail Fee y posterior eliminación**

In [30]:
dg3['Ehail_fee'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Ehail_fee, dtype: float64

In [31]:
dg4['Ehail_fee'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Ehail_fee, dtype: float64

In [32]:
dg3 = dg3.drop("Ehail_fee",1)

In [33]:
dg4 = dg4.drop("Ehail_fee",1)

**6. Descripción columna Total amount y posterior corrección**

In [34]:
dg3['Total_amount'].describe()

count    1.722574e+06
mean     1.457680e+01
std      1.383678e+01
min     -4.950000e+02
25%      7.800000e+00
50%      1.130000e+01
75%      1.730000e+01
max      5.660100e+03
Name: Total_amount, dtype: float64

In [35]:
dg3 = dg3.drop(dg3[dg3['Total_amount']<=0].index)

In [36]:
dg4['Total_amount'].describe()

count    1.664394e+06
mean     1.481462e+01
std      1.279907e+01
min     -4.990000e+02
25%      7.880000e+00
50%      1.130000e+01
75%      1.780000e+01
max      4.035460e+03
Name: Total_amount, dtype: float64

In [37]:
dg4 = dg4.drop(dg4[dg4['Total_amount']<=0].index)

**7. Eliminar datos fuera de rango de latitud y longitud**

In [38]:
dg3 = dg3.drop(dg3[dg3['Pickup_latitude']<40.49].index)
dg3 = dg3.drop(dg3[dg3['Pickup_latitude']>40.92].index)
dg3 = dg3.drop(dg3[dg3['Pickup_longitude']<-74.27].index)
dg3 = dg3.drop(dg3[dg3['Pickup_longitude']>-73.68].index)
dg3 = dg3.drop(dg3[dg3['Dropoff_latitude']<40.49].index)
dg3 = dg3.drop(dg3[dg3['Dropoff_latitude']>40.92].index)
dg3 = dg3.drop(dg3[dg3['Dropoff_longitude']<-74.27].index)
dg3 = dg3.drop(dg3[dg3['Dropoff_longitude']>-73.68].index)

In [39]:
dg3['Pickup_latitude'].describe()

count    1.708997e+06
mean     4.075133e+01
std      5.870824e-02
min      4.052623e+01
25%      4.070020e+01
50%      4.074707e+01
75%      4.080484e+01
max      4.091994e+01
Name: Pickup_latitude, dtype: float64

In [40]:
dg3['Pickup_longitude'].describe()

count    1.708997e+06
mean    -7.393423e+01
std      4.184253e-02
min     -7.425551e+01
25%     -7.395856e+01
50%     -7.394429e+01
75%     -7.391526e+01
max     -7.368068e+01
Name: Pickup_longitude, dtype: float64

In [41]:
dg3['Dropoff_latitude'].describe()

count    1.708997e+06
mean     4.074951e+01
std      5.933959e-02
min      4.050867e+01
25%      4.070168e+01
50%      4.074917e+01
75%      4.079758e+01
max      4.092000e+01
Name: Dropoff_latitude, dtype: float64

In [43]:
dg3.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,1,2015-03-01 00:02:05,2015-03-01 00:08:01,N,1,-73.961479,40.801872,-73.980721,40.775055,1,2.10,8.0,0.5,0.5,0.0,0.0,0.3,9.3,1,1.0
1,1,2015-03-01 00:02:11,2015-03-01 00:27:09,N,1,-73.979759,40.677467,-74.017097,40.710930,1,4.70,20.0,0.5,0.5,4.0,0.0,0.3,25.3,1,1.0
2,2,2015-03-01 00:02:07,2015-03-01 00:10:31,N,1,-73.941376,40.833633,-73.926689,40.863411,1,3.09,11.0,0.5,0.5,0.0,0.0,0.3,12.3,2,1.0
3,1,2015-03-01 00:02:13,2015-03-01 00:09:09,N,1,-73.939674,40.821152,-73.931854,40.846458,1,2.20,8.5,0.5,0.5,0.0,0.0,0.3,9.8,4,1.0
4,2,2015-03-01 00:02:18,2015-03-01 00:07:52,N,1,-73.957344,40.712959,-73.954796,40.719650,6,0.75,5.5,0.5,0.5,1.0,0.0,0.3,7.8,1,1.0

In [44]:
dg4 = dg4.drop(dg4[dg4['Pickup_latitude']<40.49].index)
dg4 = dg4.drop(dg4[dg4['Pickup_latitude']>40.92].index)
dg4 = dg4.drop(dg4[dg4['Pickup_longitude']<-74.27].index)
dg4 = dg4.drop(dg4[dg4['Pickup_longitude']>-73.68].index)
dg4 = dg4.drop(dg4[dg4['Dropoff_latitude']<40.49].index)
dg4 = dg4.drop(dg4[dg4['Dropoff_latitude']>40.92].index)
dg4 = dg4.drop(dg4[dg4['Dropoff_longitude']<-74.27].index)
dg4 = dg4.drop(dg4[dg4['Dropoff_longitude']>-73.68].index)

In [45]:
dg4['Pickup_latitude'].describe()

count    1.651399e+06
mean     4.075061e+01
std      5.799132e-02
min      4.052800e+01
25%      4.070026e+01
50%      4.074704e+01
75%      4.080438e+01
max      4.091992e+01
Name: Pickup_latitude, dtype: float64

In [46]:
dg4['Pickup_longitude'].describe()

count    1.651399e+06
mean    -7.393510e+01
std      4.171565e-02
min     -7.426811e+01
25%     -7.395934e+01
50%     -7.394503e+01
75%     -7.391700e+01
max     -7.368349e+01
Name: Pickup_longitude, dtype: float64

In [47]:
dg4['Dropoff_latitude'].describe()

count    1.651399e+06
mean     4.074856e+01
std      5.851751e-02
min      4.050495e+01
25%      4.070211e+01
50%      4.074877e+01
75%      4.079450e+01
max      4.091998e+01
Name: Dropoff_latitude, dtype: float64

In [48]:
dg4.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,Trip_distance,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-04-01 00:00:00,2015-04-01 00:08:15,N,1,-73.958817,40.716824,-73.982971,40.696007,1,3.08,11.0,0.5,0.5,2.46,0.0,0.3,14.76,1,1.0
1,2,2015-04-01 00:00:04,2015-04-01 00:07:33,N,1,-73.937531,40.804501,-73.946800,40.815998,1,1.21,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2,1.0
2,2,2015-04-01 00:00:09,2015-04-01 00:02:10,N,1,-73.955818,40.681152,-73.955406,40.687145,1,0.64,4.0,0.5,0.5,0.70,0.0,0.3,6.00,1,1.0
3,2,2015-04-01 00:00:23,2015-04-01 00:05:16,N,1,-73.830551,40.759460,-73.825363,40.741589,1,1.34,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2,1.0
4,2,2015-04-01 00:00:25,2015-04-01 00:05:20,N,1,-73.912086,40.775356,-73.915474,40.764091,1,0.98,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2,1.0

**8. Visualización datos correctos + describe de los mismos**

In [49]:
dg3['Passenger_count'].describe()

count    1.708997e+06
mean     1.377524e+00
std      1.056952e+00
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      9.000000e+00
Name: Passenger_count, dtype: float64

In [50]:
dg4['Passenger_count'].describe()

count    1.651399e+06
mean     1.378510e+00
std      1.055576e+00
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      9.000000e+00
Name: Passenger_count, dtype: float64

In [51]:
dg3['Total_amount'].describe()

count    1.708997e+06
mean     1.459610e+01
std      1.347660e+01
min      1.000000e-02
25%      7.800000e+00
50%      1.130000e+01
75%      1.730000e+01
max      5.660100e+03
Name: Total_amount, dtype: float64

In [52]:
dg4['Total_amount'].describe()

count    1.651399e+06
mean     1.483378e+01
std      1.241134e+01
min      1.000000e-02
25%      8.000000e+00
50%      1.130000e+01
75%      1.780000e+01
max      4.035460e+03
Name: Total_amount, dtype: float64

In [53]:
dg3 = dg3.drop(dg3[dg3['Total_amount']<=0].index)

In [54]:
dg4 = dg4.drop(dg4[dg4['Total_amount']<=0].index)

In [55]:
dg3['Tip_amount'].describe()

count    1.708997e+06
mean     1.161911e+00
std      3.875740e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      1.860000e+00
max      1.894650e+03
Name: Tip_amount, dtype: float64

In [56]:
dg4['Tip_amount'].describe()

count    1.651399e+06
mean     1.212857e+00
std      3.546012e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      2.000000e+00
max      2.017730e+03
Name: Tip_amount, dtype: float64

**9. Escribir csv con limpieza de datos hecha**

In [57]:
dg3.to_csv('C:/MBD/datos/green_tripdata_2015-03_2.csv', index=None , header=True )
dg4.to_csv('C:/MBD/datos/green_tripdata_2015-04_2.csv', index=None , header=True )