# 1. ANÁLISIS CUANTITATIVO.

## 1.1 Primer examen preliminar del dataset. ¿Qué parámetros hay en el dataset? ¿Cuál es su significado? ¿Existen valores aparentemente incorrectos?

**1. Importar librerías**

In [1]:
import pandas as pd
import numpy as np

**2. Leer datos YELLOW**

### Datos

Tenemos datos de los taxis verdes, de los meses de Marzo y Abril del año 2015.

<table>
    <tr>
        <th>Nombre del archivo</th>
        <th>Tamaño del archivo</th>
        <th>Variables</th>
        </tr>
    <tr>
        <td> yellow_tripdata_2015-03</td>
        <td> 1,94 GB </td>
        <td> 19 </td>
    </tr>
    <tr>
        <td> yellow_tripdata_2015-04</td>
        <td> 1,90 GB </td>
        <td> 19 </td>
    </tr>

In [2]:
dy3 = pd.read_csv('C:/MBD/datos/yellow_tripdata_2015-03.csv')
dy4 = pd.read_csv('C:/MBD/datos/yellow_tripdata_2015-04.csv')

**3. Head de datos, visualización primeras filas**

In [3]:
dy3.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-03-06 08:02:31,2015-03-06 08:09:55,1,1.2,-73.990211,40.750969,1,N,-73.987892,40.738037,2,7.0,0.0,0.5,0.00,0.0,0.3,7.80
1,1,2015-03-06 08:02:31,2015-03-06 08:15:23,1,3.2,-73.935188,40.800720,1,N,-73.952553,40.765373,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30
2,1,2015-03-06 08:02:31,2015-03-06 08:12:27,1,1.1,-73.963753,40.767937,1,N,-73.956947,40.780270,2,8.0,0.0,0.5,0.00,0.0,0.3,8.80
3,1,2015-03-06 08:02:31,2015-03-06 08:09:09,1,0.8,-73.997177,40.742168,1,N,-74.008064,40.739281,1,6.0,0.0,0.5,1.00,0.0,0.3,7.80
4,1,2015-03-06 08:02:32,2015-03-06 08:19:37,1,2.7,-74.006844,40.730267,1,N,-73.976860,40.750671,1,13.0,0.0,0.5,2.75,0.0,0.3,16.55

In [4]:
dy4.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-04-27 15:16:29,2015-04-27 15:26:14,1,1.05,-73.988869,40.758396,1,N,-73.984779,40.748272,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
1,2,2015-04-27 15:16:29,2015-04-27 15:25:03,1,2.67,-74.008568,40.704479,1,N,-73.978271,40.720543,1,10.5,0.0,0.5,1.00,0.0,0.3,12.30
2,2,2015-04-27 15:16:29,2015-04-27 15:31:48,1,2.89,-73.994118,40.756432,1,N,-73.993263,40.724442,1,12.5,0.0,0.5,3.32,0.0,0.3,16.62
3,2,2015-04-27 15:16:29,2015-04-27 15:25:26,1,0.94,-73.974388,40.761665,1,N,-73.985542,40.756168,2,7.5,0.0,0.5,0.00,0.0,0.3,8.30
4,2,2015-04-27 15:16:29,2015-04-27 15:45:38,1,2.30,-73.972183,40.762726,1,N,-73.990845,40.750671,2,17.5,0.0,0.5,0.00,0.0,0.3,18.30

**4. Describe de columnas relevantes**

In [5]:
dy3['trip_distance'].describe()

count    1.335161e+07
mean     1.574321e+01
std      1.229054e+04
min     -2.543232e+07
25%      1.000000e+00
50%      1.700000e+00
75%      3.170000e+00
max      1.542006e+07
Name: trip_distance, dtype: float64

In [6]:
dy4['trip_distance'].describe()

count    1.307179e+07
mean     3.087326e+01
std      2.184524e+04
min     -1.037860e+07
25%      1.010000e+00
50%      1.730000e+00
75%      3.200000e+00
max      5.901661e+07
Name: trip_distance, dtype: float64

**5. Drop de datos con distancia negativa**

In [7]:
dy3 = dy3.drop(dy3[dy3['trip_distance']<0].index)

MemoryError:

In [ ]:
dy4 = dy4.drop(dy4[dy4['trip_distance']<0].index)

In [ ]:
dy3['trip_distance'].describe()

In [ ]:
dy4['trip_distance'].describe()

In [ ]:
dy3['total_amount'].describe()

In [ ]:
dy4['total_amount'].describe()

**6. Drop de datos con Total amount negativo**

In [0]:
dy3 = dy3.drop(dy3[dy3['total_amount']<=0].index)

In [0]:
dy3['total_amount'].describe()

count    1.334574e+07
mean     1.586184e+01
std      2.084043e+02
min      1.000000e-02
25%      8.300000e+00
50%      1.180000e+01
75%      1.775000e+01
max      5.484633e+05
Name: total_amount, dtype: float64

In [ ]:
dy4 = dy4.drop(dy4[dy4['total_amount']<=0].index)

In [ ]:
dy4['total_amount'].describe()

**7. Selección datos de longitud y latitud**

In [0]:
dy3 = dy3.drop(dy3[dy3['pickup_latitude']<40.49].index)
dy3 = dy3.drop(dy3[dy3['pickup_latitude']>40.92].index)
dy3 = dy3.drop(dy3[dy3['pickup_longitude']<-74.27].index)
dy3 = dy3.drop(dy3[dy3['pickup_longitude']>-73.68].index)
dy3 = dy3.drop(dy3[dy3['dropoff_latitude']<40.49].index)
dy3 = dy3.drop(dy3[dy3['dropoff_latitude']>40.92].index)
dy3 = dy3.drop(dy3[dy3['dropoff_longitude']<-74.27].index)
dy3 = dy3.drop(dy3[dy3['dropoff_longitude']>-73.68].index)

In [ ]:
dy4 = dy4.drop(dy4[dy4['pickup_latitude']<40.49].index)
dy4 = dy4.drop(dy4[dy4['pickup_latitude']>40.92].index)
dy4 = dy4.drop(dy4[dy4['pickup_longitude']<-74.27].index)
dy4 = dy4.drop(dy4[dy4['pickup_longitude']>-73.68].index)
dy4 = dy4.drop(dy4[dy4['dropoff_latitude']<40.49].index)
dy4 = dy4.drop(dy4[dy4['dropoff_latitude']>40.92].index)
dy4 = dy4.drop(dy4[dy4['dropoff_longitude']<-74.27].index)
dy4 = dy4.drop(dy4[dy4['dropoff_longitude']>-73.68].index)

In [0]:
dy3['pickup_latitude'].describe()

count    1.306523e+07
mean     4.075096e+01
std      2.761811e-02
min      4.049255e+01
25%      4.073708e+01
50%      4.075372e+01
75%      4.076790e+01
max      4.091988e+01
Name: pickup_latitude, dtype: float64

In [ ]:
dy4['pickup_latitude'].describe()

In [0]:
dy3['pickup_longitude'].describe()

count    1.306523e+07
mean    -7.397414e+01
std      3.643423e-02
min     -7.426864e+01
25%     -7.399187e+01
50%     -7.398187e+01
75%     -7.396760e+01
max     -7.368024e+01
Name: pickup_longitude, dtype: float64

In [ ]:
dy4['pickup_longitude'].describe()

In [0]:
dy3['dropoff_latitude'].describe()

count    1.306523e+07
mean     4.075158e+01
std      3.167650e-02
min      4.049282e+01
25%      4.073570e+01
50%      4.075417e+01
75%      4.076914e+01
max      4.091994e+01
Name: dropoff_latitude, dtype: float64

In [ ]:
dy4['dropoff_latitude'].describe()

In [0]:
dy3['passenger_count'].describe()

count    1.306523e+07
mean     1.675974e+00
std      1.338591e+00
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      9.000000e+00
Name: passenger_count, dtype: float64

In [ ]:
dy4['passenger_count'].describe()

In [0]:
dy3['tip_amount'].describe()

count    1.306523e+07
mean     1.687721e+00
std      2.469549e+00
min     -1.000000e-02
25%      0.000000e+00
50%      1.160000e+00
75%      2.260000e+00
max      8.866400e+02
Name: tip_amount, dtype: float64

In [ ]:
dy4['tip_amount'].describe()

**8. Eliminar datos con tip amount negativo**

In [0]:
dy3 = dy3.drop(dy3[dy3['tip_amount']<0].index)

In [ ]:
dy4 = dy4.drop(dy4[dy4['tip_amount']<0].index)

In [0]:
dy3['store_and_fwd_flag'].value_counts()

N    12960856
Y      104372
Name: store_and_fwd_flag, dtype: int64

In [ ]:
dy4['store_and_fwd_flag'].value_counts()

In [0]:
dy3['payment_type'].value_counts()

1    8270899
2    4743045
3      39797
4      11486
5          1
Name: payment_type, dtype: int64

In [ ]:
dy4['payment_type'].value_counts()

In [0]:
dy3['fare_amount'].describe()

count    1.306523e+07
mean     1.263716e+01
std      1.458165e+02
min      0.000000e+00
25%      6.500000e+00
50%      9.500000e+00
75%      1.450000e+01
max      5.033255e+05
Name: fare_amount, dtype: float64

In [ ]:
dy4['fare_amount'].describe()

In [0]:
dy3.shape

(13065228, 19)

In [ ]:
dy4.shape

**9. Escribir csv con limpieza de datos hecha**

In [0]:
dy3.to_csv('C:/MBD/datos/yellow_tripdata_2015-03_2.csv', index=None , header=True )
dy4.to_csv('C:/MBD/datos/yellow_tripdata_2015-03_2.csv', index=None , header=True )